<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}"/>
    <title>Title</title>
    <style type="text/css">
        body {
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Colab</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{'/?userName='+${userName}}"> 首页 </a></li>
                    <li>
                        <a th:if="${userName} == null" th:href="@{/toLogin}"> 登录 </a>
                        <a th:if="${userName} != null" th:href="@{'/user-center/toUserCenter?userName='+ ${userName}}">个人中心</a>
                    </li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div th:if="${userName} != null">
            <h1  th:text="'Hello,' + ${userName} + ', 欢迎来到CoLab'"></h1>
        </div>
        <h2 th:if="${userName} == null" >你好，, 欢迎来到CoLab，请先<a th:href="@{/toLogin}">登录</a> </h2>
        <div th:if="${userName} != null" >
            <div>
                <a th:href="@{'/lab/addLab?userName='+ ${userName}}">创建实验室</a>
                <a th:href="@{'/lab/toApplyEnterLab?userName='+ ${userName}}">申请加入实验室</a>
            </div>
            <h2 >所属实验室 </h2>
            <ul th:each="lab : ${labsList}">
                <li><a th:text="${lab.labName}" th:href="@{'/lab/enterLab?labId='+${lab.labId}+'&userName='+${userName}}"></a></li>
            </ul>
        </div>
    </div>


</body>
</html>