<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}"/>
    <style >
        body {
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Colab</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}"> 首页 </a></li>
                <li>
                    <a th:if="${userName} == null" th:href="@{/toLogin}"> 登录 </a>
                    <a th:if="${userName} != null" th:href="@{'/user-center/toUserCenter?userName='+ ${userName}}">个人中心</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <h2>创建新实验室</h2>
        <p th:text="${msg}" style ="color: red;"></p>
        <div class="col-md-6 col-lg-4 col-md-offset-4 col-lg-offset-4col-xl-offset-4">
        <form name="form" th:action="@{/lab/create}" action="/lab/create" method="POST"> <!-- 3 -->
            <div class="form-group">
                <label for="labNum">实验室编号</label>
                <input type="text" class="form-control" name="labNum" value="" placeholder="实验室编号" />
            </div>
            <div class="form-group">
                <label for="name">实验室名称</label>
                <input type="text" class="form-control" name="name" placeholder="实验室名称" />
            </div>
            <div class="form-group">
                <label for="type">实验室类型</label>
                <input type="text" class="form-control" name="type" placeholder="实验室类型" />
            </div>
            <div class="form-group">
                <label for="mentor">导师名称</label>
                <input type="text" class="form-control" name="mentor" placeholder="导师名称" />
            </div>
            <div class="form-group">
                <label for="address">地址</label>
                <input type="text" class="form-control" name="address" placeholder="地址" />
            </div>
            <input type="hidden" name="userName" th:value="${userName}" />
            <input type="submit" id="createLab" value="创建" class="btn btn-primary" />
        </form>
    </div>
</div>
</body>
</html>